<h1>Things</h1>
<p *ngIf="!things"><em>Loading...</em></p>
<div class="commands text-right" *ngIf="things">
  <button type="button"
  [routerLink]="['/thing']"
  class="btn btn-success">
  New
  </button>
 </div>

<table mat-table [dataSource]="things" class="mat-elevation-z8" [hidden]="!things">
  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let thing">{{thing.id}}</td>
  </ng-container>
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let thing">
      <a [routerLink]="['/thing', thing.id]">{{thing.name}}</a>
    </td>
  </ng-container>
  <!-- Value Column -->
  <ng-container matColumnDef="value">
    <th mat-header-cell *matHeaderCellDef>Value</th>
    <td mat-cell *matCellDef="let thing">{{thing.value}}</td>
  </ng-container>
  <!-- Currency Column -->
  <ng-container matColumnDef="currencyCode">
    <th mat-header-cell *matHeaderCellDef>Currency</th>
    <td mat-cell *matCellDef="let thing">{{thing.currencyCode}}</td>
  </ng-container>
  <!-- Category Column -->
  <ng-container matColumnDef="categoryName">
    <th mat-header-cell *matHeaderCellDef>Category</th>
    <td mat-cell *matCellDef="let thing">{{thing.categoryName}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>