<h1>Places</h1>
<p *ngIf="!places"><em>Loading...</em></p>
<div class="commands text-right" *ngIf="places">
  <button type="button"
  [routerLink]="['/place']"
  class="btn btn-success">
  New
  </button>
 </div>

<table mat-table [dataSource]="places" class="mat-elevation-z8" [hidden]="!places">
  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let place">{{place.id}}</td>
  </ng-container>
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let place">
      <a [routerLink]="['/place', place.id]">{{place.name}}</a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>